<a href="https://colab.research.google.com/github/jazoza/cultural-data-analysis/blob/main/01_CDA_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cultural Data Analysis

Introduction into Python

#### Basic operations

In [ ]:
# write something below, then click '>' to execute
2

In [ ]:
2+2

In [ ]:
2+4+5+2+0+2+3

In [ ]:
"2" + "4" + " " + "5" + " " + "2" + "0" + "2" + "3"

In [ ]:
# try some other operations

4/2 + 3*6 - 8

In [ ]:
# notice the floating point (12.0); you can ask for a specific number type, floating point - "float" or integer - "int"

int(4/2 + 3*6 - 8)

#### Working with variables

A variable is a container for holding certain values, e.g. strings or numbers. In the course of the programme, one can access the value of the variable's content, or assign a new value to them.

In [ ]:
myVariable = "AI technologies"
anotherVariable = "rely on data"
print(myVariable + " " + anotherVariable)

The variable name is freely selectable, but there are a few words that you are not allowed to use (e.g. python-specific commands like print). Try the addition again and try to change the value of the variable:

In [ ]:
nummer1 = 5
nummer2 = 2
nummer1 * nummer2
nummer1 + nummer2
nummer1 - nummer2
nummer1 / nummer2

Actually, we would expect the command line to spit out 4 values, right? You can use the "print" statement to print values in the terminal since the notebook terminal only prints the last command that outputs.

In [ ]:
i = 5
print(i)
i = i + 142
print(i)
i = 43
print(i)

You can make a mistake once in a while. The syntax must always be exact, for example Upper/lower case characters, a typing error such as Print instead of print immediately throws up an error:

In [ ]:
Print i

You get a syntax error. The first line of the error message immediately tells you where the error is. Because our programme has only one line, it is "line 1". You can also see that the word print is no longer green, as it was before! Try correcting the cell.

#### Random numbers

Now, let's get to know our first function. Functions are something like little sub-programmes that can give us a certain value.

The function randint(m, n) returns a randomly selected number from the number range {m, m+1, ..., n}. A call randint(1, 6) thus returns a natural number between 1 and 6.

In [ ]:
randint(1,6)

But we get an error message that 'randint' is not defined. What does this mean? Python is very modular. The random function is an extra module and must first be imported:

In [ ]:
from random import randint
randint(1,6)

Now the **random** module has now been loaded into our notebook and the **randint** function works. Try it many times, try changing the numbers. Bonus: all about random module: https://docs.python.org/3/library/random.html

In [ ]:
# come back to numerology....
luckyNumber = randint(1,1000000)
print('your lucky number today is ', luckyNumber)

A problem that occurs relatively often is when you want to link two different types of data (e.g. a number and a text). See for yourself:

In [ ]:
print("Your lucky number is: " + luckyNumber + " soooo lucky")

We have to convert the number - the value of the variable - into a string, like this:

In [ ]:
print("Your lucky number is: " + str(luckyNumber) + " soooo lucky")

Now try integrating the random function into this line instead of the variable value, to get a different number every time you run the code:

### Conditional statements

At some points in your code , you want to detect or distinguis certain stages/conditions. So far, we have been able to write programmes in which one instruction follows another and they are also executed in this order. In a programming language, a conditional statement means parts of code that are executed under certain conditions. If the condition is not present, this code is not executed.  Normally it looks like this in Python:

```
if condition1:
    instructions1

```

You see the second line is indented. The tabulator key is used to make the indentation. How do these instructions work? With the condition, you check whether a state is "true" or "false".

In [ ]:
nummer1 = 3
nummer2 = 5
if nummer1 == nummer2:
    print("they're the same!!!!")
else:
    print("not sure which number is bigger")
    print("but they're not the same")
    print("--------------")

Now try changing the numbers. Suddenly the output disappears because the condition no longer applies. Here you use two == characters to compare the two values. The counterpart to the *if* is the *else*, with which you can catch everything that does not apply:

You can also check if the value exceeds a certain limit with the less and greater sign < >: try to swap the > with the <. Does the output change?

In [ ]:
nummer1 = 5
nummer2 = 3
if nummer1 > nummer2:
    print("number 1 is bigger than number 2")
else:
    print("## number 2 is bigger than number 1")

### Loops

You can make the computer do repetitive things quite easily with loops. Loops, are needed to repeatedly execute a block of code, also called a loop body. In Python, there are two types of loops: the while loop and the for loop.

In [ ]:
a = 0
while a < 4:
    #a = a + 1
    a += 1
    print(a)
    print("hello world")

In [ ]:
for i in range(35):
    print("hello")
    print(i)

How can you build a down-counting counter from this? Try to think it through on a piece of paper. Tip: you have to subtract something!

### Lists

A list can be thought of as an array of single elements. You can create lists of any length, either with numbers or with text, or with both. A list of values (elements) is separated by commas and enclosed in square brackets. To define a list

In [ ]:
myList = ["batman","technoviking","nyancat"]
print(myList)

Lists are helpful because a lot of data is usually stored via lists. To read the individual texts from the list, you can write:

In [ ]:
print(myList[0] + " is so boring")
print(myList[1] + " is so boring")

The practical thing is that you can use loops together with lists.

In [ ]:
for element in myList:
    print(element + " is so boring")

If I change the length of the list, I can use the same for loop to output them all:

In [ ]:
myList = ["batman","saxplayer","technoviking","nyancat","rainbow","double rainbow","waterfall","and so on..."]
for element in myList:
    print(element)

We can randomly mix up the order in the list with the shuffle function:

In [ ]:
import random
random.shuffle(myList)

This does nothing at first, at least it looks like it. But the order has already been changed, so if we now output myList, we see the following:

In [ ]:
myList

Now try random.shuffle(mylist) again in the bottom row

In [ ]:
# import and use relevant libraries

In [ ]:
import this # for more eastereggs look here https://xkcd.com/353/

## Working with a movies dataset

Use pandas module to load and explore a dataset on movies

In [ ]:
import json
import datetime
import ast
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.dummy import DummyClassifier, DummyRegressor
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, XGBRegressor
from wordcloud import WordCloud, STOPWORDS
import plotly
import plotly.offline as py
import plotly.graph_objs as go
import plotly.tools as tls
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('sample_data/movies_metadata.csv')
df.head().transpose()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df = df.drop(['imdb_id'], axis=1)

In [ ]:
# Write the title in latin alphabet, add new column
df[df['original_title'] != df['title']][['title', 'original_title']].head()

In [ ]:
# Fill in NAN for missing data
df['revenue'] = df['revenue'].replace(0, np.nan)
df['budget'] = pd.to_numeric(df['budget'], errors='coerce')
df['budget'] = df['budget'].replace(0, np.nan)

In [ ]:
df['year'] = pd.to_datetime(df['release_date'], errors='coerce').apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

#### Exploratory data analysis

Visually explore word frequency in movie titles and overviews

In [ ]:
df['title'] = df['title'].astype('str')
df['overview'] = df['overview'].astype('str')
title_corpus = ' '.join(df['title'])
overview_corpus = ' '.join(df['overview'])

# Create a wordcloud based on movie titles
title_wordcloud = WordCloud(stopwords=STOPWORDS, background_color='white', height=2000, width=4000).generate(title_corpus)
plt.figure(figsize=(16,8))
plt.imshow(title_wordcloud)
plt.axis('off')
plt.show()

In [ ]:
# Create a wordcloud based on movie overviews
overview_wordcloud = WordCloud(stopwords=STOPWORDS, background_color='white', height=2000, width=4000).generate(overview_corpus)
plt.figure(figsize=(16,8))
plt.imshow(overview_wordcloud)
plt.axis('off')
plt.show()

Q: How many movies come from which countries?

In [ ]:
# Remove columns with very sparse data
df = df.drop('adult', axis=1)
df = df.drop('original_title', axis=1)

In [ ]:
df['production_countries'] = df['production_countries'].fillna('[]').apply(ast.literal_eval)
s = df.apply(lambda x: pd.Series(x['production_countries']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'countries'
con_df = df.drop('production_countries', axis=1).join(s)
con_df = pd.DataFrame(con_df['countries'].value_counts())
con_df['country'] = con_df.index
con_df.columns = ['num_movies', 'country']
con_df = con_df.reset_index().drop('countries', axis=1)
con_df.head(10)

Q: Which production companies made highest income?

In [ ]:
df['production_companies'] = df['production_companies'].fillna('[]').apply(ast.literal_eval)
df['production_companies'] = df['production_companies'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
s = df.apply(lambda x: pd.Series(x['production_companies']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'companies'
com_df = df.drop('production_companies', axis=1).join(s)
com_sum = pd.DataFrame(com_df.groupby('companies')['revenue'].sum().sort_values(ascending=False))
com_sum.columns = ['Total']
com_mean = pd.DataFrame(com_df.groupby('companies')['revenue'].mean().sort_values(ascending=False))
com_mean.columns = ['Average']
com_count = pd.DataFrame(com_df.groupby('companies')['revenue'].count().sort_values(ascending=False))
com_count.columns = ['Number']

com_pivot = pd.concat((com_sum, com_mean, com_count), axis=1)

com_pivot.sort_values('Total', ascending=False).head(10)

Q: Which are the ten most productive production companies (produced 15 movies or more)?

In [ ]:
com_pivot[com_pivot['Number'] >= 15].sort_values('Average', ascending=False).head(10)

Q: What are the 7 most spoken languages in movies in this dataset?

In [ ]:
# How many different languages:
print('Movies in the dataset are in', df['original_language'].drop_duplicates().shape[0], 'languages')
lang_df = pd.DataFrame(df['original_language'].value_counts())
lang_df['language'] = lang_df.index
lang_df.columns = ['number', 'language']
lang_df.head(7)

In [ ]:
# Plot most popular languages apart from English
plt.figure(figsize=(12,5))
sns.set_style('whitegrid')
sns.set(font_scale=1.25)
pd.set_option('display.max_colwidth', 50)
sns.barplot(x='language', y='number', data=lang_df.iloc[1:11], color='r')
plt.show()

Q: What genres are represented in the dataset and how are they distributed?

In [ ]:
#df['genres'] = df['genres'].fillna('[]').apply(ast.literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
s = df.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'genre'
gen_df = df.drop('genres', axis=1).join(s)
gen_df['genre'].value_counts().shape[0]

In [ ]:
pop_gen = pd.DataFrame(gen_df['genre'].value_counts()).reset_index()
pop_gen.columns = ['genre', 'movies']
pop_gen.head(10)